{% load static %}
<!-- Compiled Tailwind File -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% load crispy_forms_tags static %}

{% block content %}
  <div>

    <!-- Heading -->
    <h2>Password Reset Complete</h2>

    <!-- Success Message -->
    <p>Your password has been successfully reset. You can now log in with your new password.</p>

    <!-- Login Button -->
    <a href="{% url 'login' %}">Log in with New Password</a> 

    <!-- Additional Link -->
    <p><a href="{% url 'lodge' %}">Go to homepage</a></p>
  </div>
{% endblock %}
