{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<!-- Hero Section -->
<section class="relative w-full mx-auto h-screen bg-cover bg-center bg-no-repeat px-8"
  style="background-image: url('{% static 'images/service_detail-hero.jpg' %}');">

  <!-- Gradient Overlay -->
  <div class="absolute inset-0 bg-black/40 bg-opacity-50 z-0"></div>

  <div class="container mx-auto px-6 py-12">
    <div class="relative z-10 grid grid-cols-1 md:grid-cols-2 h-full p-4">

      <!-- Service Text -->
      <div class="flex flex-col justify-center p-6 text-white mt-8">
        <h1 class="text-3xl sm:text-5xl font-bold drop-shadow-lg mb-4 mt-10 p-4 capitalize">
          {{service.get_service_display}}
          
        </h1>
        <p class="font-light text-3xl sm:text-2xl drop-shadow mb-6 p-4">
          {{ service.overview }}
        </p>
      </div>
    </div>
  </div>
</div>
</section>
{% if request.user.is_authenticated and request.user.email == "saiddetz@gmail.com" %}
<div class="min-h-screen flex flex-col items-center justify-center bg-gray-100 px-4 py-8">
  <div class="w-full max-w-2xl bg-white p-8 rounded-xl shadow-md mb-6">
    <h2 class="text-2xl font-bold mb-6 text-center text-gray-800">Update Service</h2>

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.media }}
      {{ form|crispy }}

      <button type="submit"
              class="w-full bg-blue-600 text-white py-2 rounded-full mt-4 hover:bg-blue-700 transition duration-300">
        Update Service
      </button>
    </form>
  </div>

  <!-- Delete Button -->
  <div class="w-full max-w-2xl">
    <a href="{% url 'service_delete' service.id %}"
      class="block text-center bg-red-600 text-white py-2 rounded-full hover:bg-red-700 transition duration-300">
      Delete Service
    </a>
  </div>
</div>
{% endif %}
{% endblock %}
